* {
  margin: 0;
}

.app__top__style {
  height: 2px;
  background-image: linear-gradient(to right, #ff005e, #771948);
  /* background-image: linear-gradient(to right, #ff0069, #9a0766); */
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #818b99;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
body {
  background-color: #faf6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
}
.app__left {
  flex: 0.9;
}
.app__header__title {
  font-size: 2.5rem;
  color: #4b4f4f;
  font-weight: 700;
  font-family: sans-serif;
  text-shadow: 0px 0px 1px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 10px;
}
.app__status {
  display: flex;
  justify-content: space-evenly;
}

.countrywise__data__title {
  font-size: 23px;
  color: #616666;
  margin: 3px;
  padding: 5px;
  border-bottom: 2px solid lightgray;
}
.countrywise__data {
  border: 2px solid #dfdfeb;
  background-image: linear-gradient(45deg, #ffe7e791, #fffafefa);
  border-radius: 6px;
  box-shadow: 0px 0px 6px 0px lightgreen;
}

@media all and (max-width: 950px) {
  .app {
    flex-direction: column;
  }
}

@media all and (max-width: 768px) {
  .app__status {
    flex-direction: column;
  }
}
